<div class="grid grid-rows-2 flex gap-4 grid-glow-col bg-blue-100 px-5 py-2 ">
  <div class="col-md-2">
    <h5> Hi <%= @current_user.username %> </h5>
    <h4 class="text-blue-300"> Users </h4>
    <div>
      <%= turbo_stream_from "users" %>
      <div id="users">
        <%= render @users %>
      </div>
    </div>
    <h4> Rooms </h4>
    <%= render partial: "layouts/new_room_form" %>
    <div>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms">
        <%= render @rooms %>
      </div>
    </div>
  </div>
  <div class="col-md-10 ">
    <div class="col-md-10 bg-black-500 text-white">
    <% if @single_room %>
      <h4 class="text-center"> <%= @single_room.name %> </h4>
    <% end %>
    </div>
    <%= turbo_stream_from @single_room %>
      <div id="messages">
      <%= render @messages %>
      </div>
    <%= render partial: 'layouts/new_message_form' %>

  </div>
 
</div>
